In [ ]:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("pineapple")
print(thislist)

['apple', 'banana', 'cherry', 'pineapple']

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple1.append("pineapple")

AttributeError: ignored

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

In [ ]:
thisset = {"apple", "banana", "cherry","cherry","cherry", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
thislist = ["apple", "banana", "cherry", "cherry","cherry","cherry","cherry","cherry"]

print(thislist)

['apple', 'banana', 'cherry', 'cherry', 'cherry', 'cherry', 'cherry', 'cherry']

In [ ]:
tuple1 = ("apple", "banana", "cherry", "cherry","cherry","cherry","cherry","cherry")

print(tuple1)

('apple', 'banana', 'cherry', 'cherry', 'cherry', 'cherry', 'cherry', 'cherry')

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
thisset.append("pineapple")

AttributeError: ignored

In [ ]:
thisset.remove("cherry")

In [ ]:
print(thisset)

{'apple', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry","cherry","cherry", "cherry"}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 1964,
  "year": 1964,
  "year": 1964,
  "year": 1964
}

In [ ]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
i = 1
while i < 6:
  print(i)  
  i += 1
  print("This is the value of i in this iteration: ", i)

1
This is the value of i in this iteration:  2
2
This is the value of i in this iteration:  3
3
This is the value of i in this iteration:  4
4
This is the value of i in this iteration:  5
5
This is the value of i in this iteration:  6

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 10:
    print("I'm done. I was looking for 10")
    break
  i += 1

1
2
3
4
5

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    print("I found the value I wanted but I want to keep going.")
    continue
  print(i)

1
2
I found the value I wanted but I want to keep going.
4
5
6