In [4]:
# Examples of lists

list_1 = ["bread", "jam", "coffee"]
list_2 = ['salmon', 'salad', 'mashed potatoes']
list_3 = ["soup", 'tea', 'cookie']


print(list_1)
print(list_2)
print(list_3)

print('Another way to print')
print(list_1, '\n', list_2, '\n', list_3)

['bread', 'jam', 'coffee']
['salmon', 'salad', 'mashed potatoes']
['soup', 'tea', 'cookie']
Another way to print
['bread', 'jam', 'coffee']
 ['salmon', 'salad', 'mashed potatoes']
 ['soup', 'tea', 'cookie']

In [5]:
# To print a list we use the function print 
thislist_1 = ["cake", "muffin", "cup cake"]
print(thislist_1)

['cake', 'muffin', 'cup cake']

In [9]:
# The length of a list is the number of elements

thislist = ["chair", "table", "bed", "sofa"]
print(len(thislist))

4

In [10]:
# Print the length of a list
print(len(list_1))
print(len(list_2))
print(len(list_3))

3
3
3

In [12]:
# There can be lists of many types

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [19]:
# Lists can contain many data types

list4 = ['banana', True, 3.5, 'c', 'a', 8]
print(list4)

list5 = [False, 0, 'x', '0.0', 100, [1,2,3],'X']
print(list5)

list6 = ['x', ['a','b','c', 'd', 'e'], [1, 2, 3, 4, 5], True, 100]
print(list6)

['banana', True, 3.5, 'c', 'a', 8]
[False, 0, 'x', '0.0', 100, [1, 2, 3], 'X']
['x', ['a', 'b', 'c', 'd', 'e'], [1, 2, 3, 4, 5], True, 100]

In [26]:
# How to access the elements of a list
print(len(list4))
print(len(list5))
print(len(list6))

# Fist element of the list is index 0
print(list4[0])
print(list5[0])
print(list6[0])

# Last element of the list is lenght of the list minus 1
print(list4[5])
print(list5[6])
print(list6[4])

6
7
5
banana
False
x
8
X
100