In [ ]:
print("Hello CSCE 1010 UNT!")
print("Python is an interesting and simple programming language")

Hello CSCE 1010 UNT!
Python is an interesting and simple programming language

In [ ]:
print(1 + 2)
#addition = 1 + 2
number1 = 1
number2 = 2
addition = number1 + number2
print("Operation Addition, Symbol +, (1 %*+- 2 = 3) ->", (1 + (-2)))
print("Operation Addition, Symbol +, (1 + 2 = 3) ->", addition)
print("Operation Addition, Symbol +, (1 + 2 = 3) ->", (number1 + number2))

3
Operation Addition, Symbol +, (1 %*+- 2 = 3) -> -1
Operation Addition, Symbol +, (1 + 2 = 3) -> 3
Operation Addition, Symbol +, (1 + 2 = 3) -> 3

In [ ]:
print(((1 + 3) * (9 - 2) / 2) ** 2)

196.0

In [ ]:
number1 = 1
number2 = 2
print("Operation addition, Symbol +, (1 + 2 = 3)", (number1 + number2))
print("Operation subtraction, Symbol +, (1 - 2 = -1)", (number1 - number2))
print("Operation multiplication, Symbol +, (1 * 2 = 2)", (number1 * number2))
print("Operation division, Symbol +, (1 / 2 = 0.5)", (number1 / number2))

Operation addition, Symbol +, (1 + 2 = 3) 3
Operation subtraction, Symbol +, (1 - 2 = -1) -1
Operation multiplication, Symbol +, (1 * 2 = 2) 2
Operation division, Symbol +, (1 / 2 = 0.5) 0.5

In [ ]:
print (1 + 2)
number1 = 1
number2 = 2
addition = number1 + number2
print("Operation Addition, Symbol +, (1 + 2 = 3) -> ", (1 + 2))
print("Operation Addition, Symbol +, (1 + 2 = 3) -> ", addition)
print("Operation Addition, Symbol +, (1 + 2 = 3) -> ", (number1 + number2))

3
Operation Addition, Symbol +, (1 + 2 = 3) ->  3
Operation Addition, Symbol +, (1 + 2 = 3) ->  3
Operation Addition, Symbol +, (1 + 2 = 3) ->  3

In [ ]:
print(1+2)
#addition = 1 + 2
number1 = 1
number2 = 2
addition = number1 + number2
print('Operation Addition, Symbol +, (1 + 2 = 3) ->', (1+2))
print('Operation Addition, Symbol +, (1 + 2 = 3) ->', addition)
print('Operation Addition, Symbol +, (1 + 2 = 3) ->', (number1+number2))

3
Operation Addition, Symbol +, (1 + 2 = 3) -> 3
Operation Addition, Symbol +, (1 + 2 = 3) -> 3
Operation Addition, Symbol +, (1 + 2 = 3) -> 3

In [ ]:
print(((1 + 3) * (9 - 2) / 2) ** 2)
print((1 + 3 * (9 - 2) / 2) ** 2)
print((1 + 3 * 9 - 2 / 2) ** 2)
print(1 + 3 * 9 - 2 / 2 ** 2)

196.0
132.25
729.0
27.5

In [ ]:
my_integer_var = -1
my_float_var = -3.0
my_string_var = 'Ana Karina'
my_boolean_var = 'True'

print(my_integer_var,my_float_var,my_string_var,my_boolean_var)

-1 -3.0 Ana Karina True

In [ ]:
# Define the function
def add_three(input_var):
    output_var = input_var + 3
    return output_var

In [ ]:
new_number = add_three(10)
print(new_number)

13

In [ ]:
# Function that adds 10 to any number
def add_ten(x):
  y = x + 10
  return y

In [ ]:
add_ten(5)

15

In [ ]:
def add_three_numbers(a, b, c):
  total1 = a + b
  total2 = b + c
  total3 = a + b + c
  print('You can print from a function, too!', a, b, c, total1, total2, total3)
  return total1, total2, total3

In [ ]:
add_three_numbers(1,2,3)

You can print from a function, too! 1 2 3 3 5 6

(3, 5, 6)

In [ ]:
def add_three(x):
    y = x + 3
    print('This is x', x)
    print("This is y", y)
    return y
new_number = add_three(10)
print(new_number)

This is x 10
This is y 13
13

In [ ]:
print(x)

NameError: ignored

In [ ]:
print(y)

NameError: ignored

In [ ]:
x = 100
y = 300
print(x,y)

def add_three(x):
    print(x)
    x = 400
    y = x + 3
    print('This is x', x)
    print("This is y", y)
    return y
new_number = add_three(10)
print(new_number)

100 300
10
This is x 400
This is y 403
403